# PROYECTO 1
Algoritmo Naive Bayes

Encargado: Julián Mora - 202012747

# # 1.  Instalación e importanción de librerías.

### Instalación de liberías

In [1]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\julia\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\julia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\julia\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from nltk import word_tokenize, sent_tokenize
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn import model_selection, naive_bayes, svm
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report

## 2. Perfilamiento y entendimiento de los datos

### Lectura de datos

In [3]:
df =pd.read_csv('/Users/julia/Desktop/Sexto semestre/Inteligencia de Negocios/Proyecto/SuicidiosProyectoFinal.csv',encoding='latin-1')
df.head()

,Unnamed: 0.1,Unnamed: 0,text,class,words
0,0,173271,i want to destroy myselffor once everything wa...,suicide,want destroy myselffor everyth start feel okay...
1,1,336321,I kind of got behind schedule with learning fo...,non-suicide,kind got behind schedul learn next week testwe...
2,2,256637,I am just not sure anymoreFirst and foremost: ...,suicide,sure anymorefirst foremost brazil judg second ...
3,3,303772,please give me a reason to liveThats too much ...,suicide,pleas give reason livethat much reason live li...
4,4,293747,27f struggling to find meaning moving forwardI...,suicide,struggl find mean move forwardi admit bit long...

### Entendimiento de los datos

In [4]:
df.groupby('class').describe()

            Unnamed: 0.1                                                     \
                   count          mean           std  min      25%      50%
class
non-suicide     110165.0  98140.366859  56466.973688  1.0  49152.0  98448.0
suicide          85535.0  97474.877360  56526.613070  0.0  48588.0  97114.0

                                Unnamed: 0                                     \
                  75%       max      count           mean            std  min
class
non-suicide  146996.0  195698.0   110165.0  174155.650706  100570.419334  3.0
suicide      146478.5  195699.0    85535.0  174234.060291  100335.214507  2.0


                 25%       50%       75%       max
class
non-suicide  86928.0  174629.0  261227.0  348110.0
suicide      87315.5  174191.0  261267.5  348108.0

In [5]:
df['suicide'] = df['class'].apply(lambda x:1 if x == 'suicide' else 0)
df.head()

,Unnamed: 0.1,Unnamed: 0,text,class,words,suicide
0,0,173271,i want to destroy myselffor once everything wa...,suicide,want destroy myselffor everyth start feel okay...,1
1,1,336321,I kind of got behind schedule with learning fo...,non-suicide,kind got behind schedul learn next week testwe...,0
2,2,256637,I am just not sure anymoreFirst and foremost: ...,suicide,sure anymorefirst foremost brazil judg second ...,1
3,3,303772,please give me a reason to liveThats too much ...,suicide,pleas give reason livethat much reason live li...,1
4,4,293747,27f struggling to find meaning moving forwardI...,suicide,struggl find mean move forwardi admit bit long...,1

### Tokenización

In [6]:
df['words'] = [word_tokenize(str(entry)) for entry in df['words']]
#df['words'] = df['words'].apply(lambda x: ' '.join(map(str, x)))
df.head()

,Unnamed: 0.1,Unnamed: 0,text,class,words,suicide
0,0,173271,i want to destroy myselffor once everything wa...,suicide,"[want, destroy, myselffor, everyth, start, fee...",1
1,1,336321,I kind of got behind schedule with learning fo...,non-suicide,"[kind, got, behind, schedul, learn, next, week...",0
2,2,256637,I am just not sure anymoreFirst and foremost: ...,suicide,"[sure, anymorefirst, foremost, brazil, judg, s...",1
3,3,303772,please give me a reason to liveThats too much ...,suicide,"[pleas, give, reason, livethat, much, reason, ...",1
4,4,293747,27f struggling to find meaning moving forwardI...,suicide,"[struggl, find, mean, move, forwardi, admit, b...",1

### Construcción del modelo

In [7]:
vectorizer = CountVectorizer()
#counts = vectorizer.fit_transform(df['text'].values)

classifier = MultinomialNB()
#targets = df['class'].values
#classifier.fit(counts, targets)

In [8]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(df['text'].values,df['class'].values,test_size=0.3,random_state = 0)

In [9]:
from sklearn.pipeline import make_pipeline
from joblib import dump, load
model = make_pipeline(vectorizer, classifier)

In [10]:
#counts

In [11]:
model.fit(Train_X, Train_Y)
#labels = model.predict(Test_X)

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [12]:
# Usamos la lbreria joblib
filename = 'ProyectoNB.joblib'
# Se guarda
dump(model, filename)

['ProyectoNB.joblib']

In [13]:
p2 = load(filename)
p2

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [14]:
# Clasificamos los datos recientes
predicted = p2.predict(Test_X)

In [15]:
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import confusion_matrix

In [16]:
confusion_matrix(Test_Y, predicted)

array([[27806,  5218],
       [ 1112, 24574]], dtype=int64)

In [17]:
print(classification_report(Test_Y, predicted))

              precision    recall  f1-score   support

 non-suicide       0.96      0.84      0.90     33024
     suicide       0.82      0.96      0.89     25686

    accuracy                           0.89     58710
   macro avg       0.89      0.90      0.89     58710
weighted avg       0.90      0.89      0.89     58710

In [18]:
#classifier.fit(Train_X, Train_Y)

In [19]:
y_pred = model.predict(Test_X)
print(classification_report(Test_Y,y_pred))

              precision    recall  f1-score   support

 non-suicide       0.96      0.84      0.90     33024
     suicide       0.82      0.96      0.89     25686

    accuracy                           0.89     58710
   macro avg       0.89      0.90      0.89     58710
weighted avg       0.90      0.89      0.89     58710

In [20]:
y_pred = p2.predict(Test_X)
print(classification_report(Test_Y,y_pred))

              precision    recall  f1-score   support

 non-suicide       0.96      0.84      0.90     33024
     suicide       0.82      0.96      0.89     25686

    accuracy                           0.89     58710
   macro avg       0.89      0.90      0.89     58710
weighted avg       0.90      0.89      0.89     58710

### Pruebas

In [21]:
examples = ['i want to destroy myselffor once everything was starting to feel okay again but it all came tumbling down and i donâ€™t know how i used to cope before and the only reason iâ€™m not tearing my skin to shreds and swallowing every pill i can find right now is because iâ€™m not alone in the room but my walls are slowly falling down and itâ€™s only a matter of time before i snap and finally end it once and for all','I want to die']
example_counts = vectorizer.transform(examples)
predictions = classifier.predict(example_counts)
predictions

array(['suicide', 'suicide'], dtype='<U11')

Se puede observar como reconoce palabras críticas y categoriza los textos según las encuentra

In [22]:
new_input = ['i want to destroy myselffor once everything was starting to feel okay again but it all came tumbling down and i donâ€™t know how i used to cope before and the only reason iâ€™m not tearing my skin to shreds and swallowing every pill i can find right now is because iâ€™m not alone in the room but my walls are slowly falling down and itâ€™s only a matter of time before i snap and finally end it once and for all']

In [23]:
new_output = p2.predict(new_input)

In [24]:
new_output

array(['suicide'], dtype='<U11')